<div id="indexContainer">
    <div class="columns" id="index">
        <div class="column">
          <img src="/assets/img/burger1.png">
          <br>
          <sectiion id="companyName">EAT-DA-BURGER!</sectiion>
          <br>
          <form id="addForm">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input id="addFormData" class="input is-rounded is-primary" type="text" placeholder="Add a new burger!" required>
              </div>
              <div class="control">
                <button id="addFormButton" class="button is-rounded is-primary" type="submit" >Go!</button>
              </div>
            </div>
          </form>


          <div class="columns burgerList">
            <div class="column">
              <b>!DEVOURED</b>
              <ul>
                {{#each burgers}}
                  {{#unless devoured}}
                    <p>
                      {{burger_name}}
                      <button class="button is-small is-rounded is-info devour" type="submit" data-id="{{id}}" data-devoured={{devoured}}>Devour!</button>
                    </p>
                  {{/unless}}
                {{/each}}
              </ul>
            </div>
            <div class="column">
              <b>DEVOURED!</b>
                <ul>
                  {{#each burgers}}
                    {{#if devoured}}
                      <p>
                        {{burger_name}}
                        <button class="button is-small is-rounded is-danger deleteBurger" type="submit" data-id="{{id}}">Delete!</button>
                      </p>
                    {{/if}}
                  {{/each}}
                </ul>
            </div>
          </div>





        </div>
    </div>
</div>

